<div id="footer">
    版本:@ViewBag.DebugVersion&nbsp;&nbsp;
    
    @Html.Raw(ViewBag.Sign)
    <div class="span pull-right">
        <span class="go-top"><i class="icon-arrow-up"></i></span>
    </div>
</div>

@Html.Raw(ViewBag.JsFile)


